{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1> VER TODOS LOS MENSAJES </h1>
{% endblock %}

{% block subtitulo %}
<span>  </span>

{% endblock %}

{% block contenido_que_cambia %}

<h3> TODOS LOS MENSAJES </h3>

    {% for texto_msj in titulo %}
    <table>
        <tr>
            <td><strong>Asunto : </strong></td> 
                <td>
                    <strong> {{ texto_msj.titulo }}</strong>
                </td>
        </tr>
        <tr>
            <td><strong>Fecha : </strong></td>
                <td>
                    {{ texto_msj.fecha }}
                </td> 
        </tr>
        <tr>
            <td><strong>Contacto : </strong></td>
                <td>
                    {{ texto_msj.telefono }}
                </td>
        </tr>
        
    </table>
    
    {% endfor %}




<h3> {{ mensaje }} </h3>


{% endblock %}

{% block contenido_que_cambia_2 %}



{% endblock %}
