{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1> PROPECTAR </h1>
{% endblock %}

{% block subtitulo %}
<span>  </span>

{% endblock %}

{% block contenido_que_cambia %}

<h3> Listado Empresas a Analizar </h3>

<ul>

    {% for empresaServicio in prospecto %}
    
    <li> {{ empresaServicio.empresa }} - {{ empresaServicio.mail }} - {{ empresaServicio.telefono }} - {{ empresaServicio.cuit }} </li>
     
    {% endfor %}


</ul>

<h3> {{ mensaje }} </h3>


{% endblock %}

{% block contenido_que_cambia_2 %}



{% endblock %}
