{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1> PROPECTAR </h1>
<h3> Listado Empresas a Analizar </h3>
{% endblock %}

{% block subtitulo %}
<span>  </span>

{% endblock %}

{% block contenido_que_cambia %}



<h4> {{ mensaje }} </h4>

    {% for empresaServicio in prospecto %}
    <table>
        <tr>
            <td><strong>Razon Social : </strong></td> 
                <td>
                    <strong> {{ empresaServicio.empresa }}</strong>
                </td>
        </tr>
        <tr>
            <td><strong>CUIT : </strong></td>
                <td>
                    {{ empresaServicio.cuit }}
                </td> 
        </tr>
        <tr>
            <td><strong>Contacto : </strong></td>
                <td>
                    {{ empresaServicio.telefono }}
                </td>
        </tr>
        
    </table>
</table>
    <ul>
        <a class="btn btn-outline-danger" href="{% url 'eliminarProspecto' empresaServicio.id %}">Eliminar</a>
        <a class="btn btn-outline-success" href="{% url 'editarProspecto' empresaServicio.id %}">Editar</a>
    </ul>

</form>

    {% endfor %}







{% endblock %}

{% block contenido_que_cambia_2 %}



{% endblock %}
