{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1> Buscar Empresas </h1>
{% endblock %}

{% block subtitulo %}
<span> Historicos </span>

{% endblock %}

{% block contenido_que_cambia %}

<h3> {{ mensaje }} </h3>

<form action="{% url 'buscar' %}" method ="GET"> {% csrf_token %}

    <input type = "text", name = "empresa" placeholder="EMPRESA">

    <input type="button" class="btn btn-outline-warning", value = "BUSCAR">

</form>

{% endblock %}

{% block contenido_que_cambia_2 %}



{% endblock %}
