{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1> RESULTADOS DE LA BUSQUEDA </h1>
{% endblock %}

{% block subtitulo %}
<span>  </span>

{% endblock %}

{% block contenido_que_cambia %}




{% endblock %}


{% block contenido_que_cambia_2 %}

{% if prospecto %}

<h3> Empresas a Prospectar </h3>

{% for prospecto in prospecto %}

<table>
    <tr>
        <td><strong>Razon Social : </strong></td> 
            <td>
                {{ prospecto.empresa }}
            </td>
    </tr>
    <tr>
        <td><strong>CUIT : </strong></td>
            <td>
                {{ prospecto.cuit }}
            </td>
    </tr>
    <tr>
        <td><strong>Contacto : </strong></td>
            <td>
                {{ prospecto.telefono }}
            </td>
    </tr>
</table>
{% endfor %}

{% else %}

<h4> Sin Coincidencias </h4>

{% endif %}

{% endblock %}

